<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="/static/medart.png" rel="icon" >
    <link rel="stylesheet" href="/static/newstaff.css">
</head>
{% for message in messages %}
<div class="success">
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
<strong>{{message}} </strong>
</div>
</div>
{% endfor %}
<body>
    <div class="contain">
        <label for=""> <b>DOCTORS</b></label>
        <button name="" id="myBtn1"><div class="icon"><img src="/static/add.png" alt=""></div></button>
    </div>
    <div class="contain">
        <label for=""> <b>NURSES</b></label>
        <button id="myBtn" name="btn"> <div class="icon"><img src="/static/add.png" alt=""></div></button>
    </div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="" method="post">
      {%csrf_token%}
    <div class="conti">
      <label for="" ><b>NAME:</b></label>
    <input type="text" name="name" value="" style="margin-left:42px;">
    </div>
    <div class="conti">
      <label for="" ><b>EMAIL:</b></label>
    <input type="email" name="email" id="" value=" " style="margin-left:35px;">
    </div>
    <div class="conti">
      <label for="" ><b>PHONE:</b></label>
    <input type="text" name="phone" id=""  style="margin-left:32px;">
    </div>
    <div class="conti">
      <label for="" ><b>JOB:</b></label>
    <input type="text" name="job" id="" style="margin-left:64px;">
    </div>
    <div class="conti">
      <label for="" ><b>Department:</b></label>
    <input type="text" name="dept" id="" style="margin-left:0px;">
    </div>
    <div class="conti">
      <label for="" ><b>DATE:</b></label>
    <input type="date" name="date" id=""  style="margin-left:50px;">
    </div>
    <input type="submit" value="Submit">
  </form>
  </div>

</div>
</body>
<script>
    var modal = document.getElementById("myModal");
    
    var btn = document.getElementById("myBtn");
    var btn1 =document.getElementById("myBtn1")
    var btn2 = document.getElementById("myBtn2");
    var btn3 = document.getElementById("myBtn3");
    var span = document.getElementsByClassName("close")[0];
   
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    btn.onclick = function() {
      modal.style.display = "block";
    }
    btn1.onclick = function() {
      modal.style.display = "block";
    }
    btn2.onclick = function() {
      modal.style.display = "block";
    }
    btn3.onclick = function() {
      modal.style.display = "block";
    }
    
 
        </script>
</html>