<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {
        text-align: center;
    }
    .body
    {
        border:2px solid red;
        width: 60%;
        display: inline-block;
        margin-top: 20px;
    }
    .profile_img
    {
        width: 150px;
        height: 150px;
        border:2px solid blue
    }
    .sec1
    {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<body>
    <div class="body">
        <div class="sec1">
            <div class="profile_img">
                <img src="" alt="">
            </div>
            <label for="">FIRSTNAME : </label>
            <label for="">MIDDLENAME : </label>
            <label for="">SURNAME : </label>
            <label for="">DATE OF BIRTH : </label>
            <label for="">REGISTRATION DATE : </label>

        </div>
    </div>
</body>
</html>