<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/staff1.css">
  <title>Heritage-hospital</title>
  <link  href="/static/medart.png" rel="icon" >
</head>
<body>
  <div class="body">
    <div class="wrapper">
      <div class="content2">
          <a href="/newstaff"><div class="menu">
            <div class="container_logo">
                <img src="/static/add-user.png" alt="">
            </div>
            <h2>NEW STAFF</h2>
            </div>
          </a>
          <a href="/staffrec"><div class="menu">
            <div class="container_logo">
                <img src="/static/management.png" alt="">
            </div>
            <h2>MANAGE STAFF</h2>
            </div>
          </a>
      </div>
    </div>
  </div>
</body>
</html>